.card-row {
    margin: 0 auto 0 auto;
}

.card-columns {
    margin-top: 6rem;
    margin-right: 2rem;
    margin-left: 2rem;
}
.big-text {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
.big {
    padding-left: 50px;
    padding-right: 50px;
}
